<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Willkommen zur Northwind-Datenbank</h2>
            <p class="lead">Diese Applikation wurde von Carlos Brockmann in Angular 10 geschrieben. Sie kann und darf
                beliebig
                kopiert und verändert werden. Lediglich müssen dann die Angaben zum Urheber entfernt werden.</p>
            <p><a href="https://github.com/cjbrockmann/" target="_blank" class="btn btn-primary btn-lg">Mehr erfahren
                    &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="assets/Northwind_Logo.png" class="img-fluid" alt="Northwind" />
        </div>
    </div>
</div>
<div class="row" style="margin-left: 100px; margin-right: 100px;">
    <div class="col-md-4">
        <h2>Zum Starten</h2>
        <p>
            Diese Applikation muss nur mit der Angular-CLI transpiliert werden, damit sie installiert werden kann.
        </p>

        <p>
            <a class="btn btn-secondary" target="_blank" href="https://angular.io/docs">Mehr erfahren &raquo;</a>
        </p>



    </div>
    <div class="col-md-4">
        <h2>WebApi</h2>
        <p>
            Die zugrunde liegende WebApi kann mit Dokumentation direkt besucht werden.
            Leider ist das Schreiben und Updaten unterbunden. Es gibt ein Button, um das Schreiben zu simulieren.
        </p>
        <p>
            <a class="btn btn-secondary" target="_blank" href="http://northwind.netcore.io/">Mehr erfahren &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Authentifizierung</h2>
        <p>
            Vorerst ist keine Authentifizierung vorgesehen. Noch ist keine WebApi gefunden, wo man das einsetzen und
            ausprobieren kann.
        </p>
    </div>
</div>